.imagem
{
   margin-left: 3%
}

.informacoesBloco
{
    margin-left: 2%;
    font-weight: bolder;
    color: white;
}

.info
{
    margin-top: 2%;
    margin-bottom: 2%;

}


.card-title
{
    display: flex
}

.card-action
{
    width: 100%
}

.bolder
{
    font-weight: bolder
}



