.tabela {
    width: 100%;
    border:  black;
    background: #2000FF; 
    margin: 0;
    padding: 0;
    color: #000000 

}
td{color: #0093FF}

body{
    background-color: #037FFF
}    
 
    #altura{
        min-height: 150px;
        position: relative;
    }