img, iframe, object, embed, video{
    height: auto;
    max-width: 100%;
    width:auto;

}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #037FFF;
}

main {
    flex: 1 0 auto;
}
      


a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    
}

.tabela {
    width: 100%;
    border-width: medium;
    border-style: solid;
    border-color: black;
    background-color: #2000FF;
}


.texto{
    position:relative;
    text-align:center;
    height:auto;
    bottom:0px
    
   
}
.informacoes {

    position: relative;
    height: auto;
    float:left

 }
.imagem{
    height:auto;
    float:left
}

.sidenav{
    width:80%
}

@media screen and (min-width:1000px){
    .texto{
        bottom:150px;
        margin-left:320px;
        margin-top:100px
    }

    .card-pos{
        left:0px;
        bottom:100px;
        position:relative;
        text-align:center;
        
    }
    
}


@media screen and (min-width:997px)  and (max-width:999px){
    .texto {
        padding-top:0px;
        bottom:0
    }
}

@media screen and (min-width:993px) and (max-width:996px){


    .informacoes {
        float:left;
        position: relative;
        height: 0px;
    }

   


    

    .menu {
        position: relative;
        z-index: 1;
    }

    .rodapepos {
        margin-top: 210px;
        position: relative;
    }

    .rodape {
        width: 19.54612005856515%; /*267 / 1366(resolução do meu computador)*/
        border-width: medium;
        border-style: solid;
        border-color: black;
        background-color: #2000FF;
        position: absolute;
        left: 40%;
    }

    .imagem {
        float: left;
        height: 0px;
        position: relative;
    }

    .separador {
        top: 200px;
        position: relative;
    }
    .MenuCelular {
        height: 100%; /* 100% Full-height */
        width: 0px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        visibility: collapse;
   
    }
    .divbtn {
        visibility: collapse;
        height:0px
    }
   

    .ocultar {
        visibility: visible
    }
}


@media screen and (min-width:889px) and (max-width:992px) {
    .texto {
        padding-left: 0px;
        margin-left: 0px;
        width:auto
    }
    
       
  


}
@media screen and (min-width:394px) and (max-width:888px) {
    .texto {
        margin-top: 0px
    }

}



    @media screen and (max-width:393px) {

        .tabela {
            width: 100%;
            border-width: medium;
            border-style: solid;
            border-color: black;
            background-color: #2000FF;
            visibility: collapse;
        }


        .texto {
            margin-top: 0px
        }

        .imagem {
            text-align: center;
            height: auto;
            position: relative;
        }

        .informacoes {
            padding-left: 0px;
            text-align: center;
            position: relative;
            height: auto;
        }

        .rodape {
            width: 25%;
            border-width: medium;
            border-style: solid;
            border-color: black;
            background-color: #2000FF;
            position: relative;
            left: 40%;
            visibility: collapse;
        }


        .MenuCelular {
            height: 100%; /* 100% Full-height */
            width: 0px; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: #00174d;
            overflow-x: hidden; /* Disable horizontal scroll */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

            .MenuCelular a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                display: block;
                transition: 0.3s;
            }



            .MenuCelular .closebtn {
                position: absolute;
                top: -10px;
                right: 0px;
                font-size: 36px;
                margin-left: 50px;
            }

        .ocultar {
            visibility: hidden
        }

        .separador {
            visibility: hidden
        }
    }
    
